body{
    background-color: rgb(245, 245, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(240, 180, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgb(42, 53, 53);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

h1{
    margin-bottom: 40px;
}

input{
    display: flex;
    accent-color: rgb(245, 245, 209);
    border-color: rgb(245, 245, 209);
    padding: 30px;
}

.botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    font-size: 14px;
    border-radius: 5px;
    flex: 1;
    margin: 0 10px;
    margin-top: 25px;  
    cursor: pointer;
}

